@import "../../Styles/variables.scss";

.CareerPage {
	margin-top: $headerHeight * 2;

	&__Container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: clamp(600px, 900px, 90vw);
		height: 500px;
		padding: 0 10%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-flow: column;
		margin: 0 auto;
		margin-bottom: 200px;
	}

	&__ImageWrapper {
		position: relative;
		width: 100%;
		height: 100%;
	}

	&__BoxLeft {
		width: 100%;
		height: 100%;
	}

	&__BoxRight {
		background-color: black;
		width: 100%;
		height: 100%;
		color: white;
        display: grid;
        align-items: center;

        .line {
            width: 50px;
            height: 2px;
            background-color: orange;
            margin: 0 auto;
        }

		h2 {
			text-align: center;
            margin-top:0;
            margin-bottom: 10px;
		}

		p {
			text-align: center;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			white-space: pre-line;
            margin-bottom: 0;
		}
	}

	&__TextWrapper {
		display: grid;
		align-content: center;
	}
}
