@import '../../Styles/variables';


.Introduction {
	&__Title {
		font-size: 1.3rem;
		text-align: center;
        margin-top: $sectionMarginMedium;
		margin-bottom: $titleMarginBottom;
	}

	&__Description {
		max-width: 100%;
		text-align: center;
		padding: 0 24px;
        margin-bottom: $sectionMarginMedium;
	}
}
