@import "../../styles/variables.scss";

.ServiceQuote {
	margin: 0 auto;
	width: 100vw;
	text-align: center;
	display: block;
	margin-top: $sectionMarginMedium * 2;
    margin-bottom: $sectionMarginMedium * 2;
    font-size: clamp(2rem, 3vw, 6rem);
    font-weight: 400;
    max-width: 50vw;
    min-width: 300px;
}
