@import "../../Styles/variables.scss";
@import "../../Styles/mixins.scss";

.Button {
    @include cta-button;
    position: relative;
    display: block;
    margin: 0 auto;

    .full-width {
        width: 100%;
    }
}