@import "../../Styles/variables.scss";

.NavigationLinks {
	display: grid;
	grid-auto-flow: column;
	justify-content: center;

	&__Link {
		text-decoration: none; 
		color: black;
		margin: 0 15px;
		height: max-content;

		&.active {
			font-weight: bold; 
		}
	}

	&--Mobile {
		grid-auto-flow: row;

		.NavigationLinks__Link {
			margin: 15px 0;
			display: grid;
			place-content: center;
			height: 50px;
			border-bottom: 1px solid $grey;
			width: 100vw;
		}
	}
}
