@import "../../Styles/variables.scss";

.Marquee {
	overflow: hidden;
	white-space: nowrap;
    margin-top: $sectionMarginMedium; 
    margin-bottom: $sectionMarginMedium;


    &__Content {
        display: grid;
        align-items: center;
        // animation: marquee 3s linear infinite;
     
    }

    &__ImageContainer {
        width: 100px; // Width of the image
        flex-shrink: 0; // Prevents images from shrinking
        margin: 0 12px; // Spacing between images
   
        &--first {
            width: 200px;
        }

      &--second{
            width: 300px;
        }
        
    
    }

    
}
