@import "../../Styles/variables.scss";

.Marquee {
	overflow: hidden;
	white-space: nowrap;
    margin-top: $sectionMarginMedium; 
    margin-bottom: $sectionMarginMedium;

    &__Content {
        display: grid;
        align-items: center;
    }

    &__ImageContainer {
        width: 100px; 
        flex-shrink: 0;
        margin: 0 12px; 
   
        &--first {
            width: 200px;
        }

      &--second{
            width: 300px;
        }
    }
}
