@import '../../Styles/variables.scss';

.Hero {
    width: auto;
    height: 100vh;
    position: relative;
    margin-top: $headerHeight;
    display: grid;
    place-content: center;

    &__TextWrapper {
        margin-bottom: 300px;
    }

    &__Overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(rgba(0,0,0,0.48), rgba(0,0,0,0.48))
    }

 
}