@import "../../Styles/variables.scss";

.Hero {
	width: auto;
	height: 100vh;
	position: relative;
	margin-top: $headerHeight;
	display: grid;
	place-content: center;

	@media (min-width: $largeScreens) {
		justify-content: start;
		padding-left: 100px;
	}

	&__TextWrapper {
		margin-bottom: 100px;
	}

	&__Overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $overlay;
	}
}
