$grey: #f1f1f1;
$orange: #fcb900;
$orange-light: #ffbb00c9;
$white: #fff;

$headerHeight: 70px;

$xlBreakpoint: 1248px;
$largeScreens: 1024px;
$mediumScreens: 768px;
$sMediumScreens: 600px;

$sectionMarginMedium:192px; 
$sectionMarginLarge: $sectionMarginMedium * 2;

$titleMarginBottom: 24px;
$cardShadow: 0px 5px 15px rgba(0, 0, 0, 0.08);

$card-width-s: 86vw;

$paragraphFontSize: clamp(1rem, 1.3vw, 1.5rem);
$serviceTitle: clamp(2rem, 3vw, 3.5rem);

$overlay:  linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64))