@import '../../Styles/variables.scss';

.BookingSection {
    margin: $sectionMarginMedium auto $sectionMarginMedium auto;

    &__CardWrapper {
        width: 90%;
        margin: 0 auto;
        display: grid;
        place-content: center;

        @media(min-width: $mediumScreens) {
            grid-auto-flow: column;
            grid-gap: 24px;
        }
    }


}