@import '../../Styles/variables.scss';

.CareerNote {
    display: grid;
    place-content: center;
    width: 90vw;
    margin: 0 auto;
    background:#e7e7e7;
    padding: 12px;
    text-align: center;
    // border: 1px solid black;
    box-shadow: $cardShadow;
    margin-bottom: $sectionMarginMedium;
    border-radius: 12px;
    max-width: 400px;
	&__Title {
        text-align: center;
	}
	&__Text {
	}

	&__Link {
        text-decoration: none;
        background-color: black;
        padding: 12px;
        color:white;
        width: max-content;
        place-self: center;
        margin-bottom: 18px;
        border-radius: 6px;
	}
}
