@import "../../Styles/variables.scss";

.Header {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-around;
	background-color: $grey;
	height: $headerHeight;
	position: fixed;
	z-index: 999;
	width: 100vw;
	top: 0;
	min-width: 300px;
	transition: top 0.3s ease-in-out;

	.MobileNav {
		@media (min-width: 768px) {
			display: none;
		}
	}

	.Logo {
		position: absolute;
		left: 18px;
		width: max-content;
		display: grid;
		height: 100%;
		align-content: center;
	}

	@media (min-width: 768px) {
		.Logo {
			// position: relative;
			// left: unset;
			// top: unset;
			margin-left: 32px;
		}
	}
}
