@import "../../Styles/variables.scss";

.ServiceSection {
	display: grid;
	justify-items: center;
	width: 90vw;
	margin: 0 auto;
	max-width: fit-content;

	@media (min-width: $mediumScreens) {
		grid-gap: 12px;
	}
	@media (min-width: $largeScreens) {
		grid-gap: 24px;
	}

	@media (min-width: $largeScreens) {
		grid-auto-flow: column;
		grid-template-rows: max-content 1fr;
		max-width: fit-content;
		margin: 0 auto;
	}

	&__Title {
		@media (min-width: $mediumScreens) {
			grid-column: 1/4;
			justify-self: center;
		}
	}

	&__Card {
		box-shadow: $cardShadow;
		max-width: $card-width-s;
		margin-bottom: 12px;
		position: relative;
		display: block;
		display: grid;
		grid-auto-flow: row;
		grid-template-rows: 288px max-content max-content;
		min-width: 270px;
		max-width: 400px;

		@media (min-width: $largeScreens) {
			grid-row: 2;
			max-width: 400px;
		}

		&ImageWrapper {
			position: relative;
			grid-row: 1/2;
			overflow: hidden;
		}

		&Title {
			display: block;
			grid-row: 2;
			padding: 12px 18px;
		}

		&Text {
			display: block;
			padding: 0 18px;
		}

		&Link {
			text-decoration: none;
			padding: 24px 18px 24px 18px;
			color: black;
			font-weight: bold;
			display: grid;
			place-content: end;

			&:visited {
				color: inherit;
			}
		}
	}
}
